<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.csc895.sfsu.waitlesshost">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/NoActionTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/login" />
        <activity
            android:name=".ui.SignupActivity"
            android:label="@string/sign_up" />
        <activity
            android:name=".ui.ResetPasswordActivity"
            android:label="@string/reset_password" />
        <activity
            android:name=".ui.NumberDetailedActivity"
            android:label="@string/number_detail"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.RestaurantGetNumberActivity"
            android:label="@string/restaurant_get_number"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.AssignWaitlistActivity"
            android:label="@string/assign_waitlist"
            android:theme="@style/AppTheme"/>

        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <!--<meta-data-->
            <!--android:name="com.google.firebase.messaging.default_notification_icon"-->
            <!--android:resource="@drawable/ic_logo_full" />-->
        <!--<meta-data-->
            <!--android:name="com.google.firebase.messaging.default_notification_color"-->
            <!--android:resource="@color/colorAccent" />-->
    </application>

</manifest>